@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-emisora {
    display: block;
    &__container {
        padding: 0;
        @include m.tablet {
            padding: v.$paddingSecciones;
        }
    }
    &__container2 {
        @include m.flex (column, center, center);
        border-radius: 1.5rem;
        background-color: v.$colorEmisora;
        border: 1px solid v.$negro;
        
        @include m.telefonoXL {
            @include m.grid (3, 1.5rem);
            padding: 1rem 2rem;
        }
        @include m.tablet {
            width: 75%;
        }
        @include m.desktop {
            width: 50%;
        }
    }
    &__online {
        width: 100%;
        @include m.flex (column, space-between, center);
        
        @include m.telefonoXL {
            height: 100%;
            grid-column: span 2;
            padding: 1rem 0;
        }
        @include m.tablet {
            padding: 2rem;
        }
    }
    &__direct {
        @include m.flex (row, space-around, center);
        margin: 1rem auto;
        &-picture {
            margin: 1rem;
            max-width: 10rem;
            &-img {
                border-radius: 1.5rem;
            }
        }
        &-text {
            font-size: 1.3rem;
            padding: 1rem;
            color: v.$blanco;
            text-align: center;
            p {
                padding: 0.5rem;
            }
        }
        @include m.telefonoXL {
            &-picture {
                max-width: 12rem;
            }
        }
        @include m.tablet {
            &-picture {
                max-width: 18rem;
            }
            &-text {
                font-size: 1.6rem;
            }
        }
    }
    &__direct-audio {
        width: 100%;
        height: auto;
        @include m.flex (row, center, center);
        audio {
            height: 30px;
        }
    }
    &__listTop {
        margin: 2rem 1rem 1rem 1rem;
        width: 100%;
        @include m.telefonoXL {
            margin: 1rem;
        }
        &-tittle {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0.5rem;
            color: v.$colorListaTop;
            @include m.telefonoXL {
                font-size: 1.7rem;
            }
            @include m.tablet {
                font-size: 2rem;
            }
        }
        &-top5 {
            padding: 0 0.5rem 0.5rem 0.5rem;
            width: 100%;
            @include m.tablet {
                padding: 1rem;
            }
            &-item {
                @include m.flex (row, space-between, center);
                font-size: 1.1rem;
                padding: 1.1rem 0 0.2rem 0;
                border-bottom: 0.1rem dotted v.$colorListaTop;
                @include m.telefonoXL {
                    padding-top: 1.3rem;
                }
                @include m.tablet {
                    padding-top: 1.5rem;
                    font-size: 2rem;
                }
            }
        }
        &-p {
            color: v.$colorListaTop;
            &--mod {
                color: v.$blanco;
                text-transform: lowercase;
                font-size: 1.1rem;
                @include m.tablet {
                    font-size: 1.5rem;
                }
            }
        }
        &-link {
            cursor: pointer;
        }
        &-link:hover {
            color: v.$colorHover;
        }
    }
}