@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-footer {
    display: block;
    
    &__container {
        @include m.flex (column, nowrap, space-around, center);
        background-color: v.$colorFooter;
        @include m.telefonoXL {
            @include m.flex (row, nowrap, space-around, center);
            padding: 1.5rem 0;
        }
    }
    &__email {
        padding: 1rem;
    }
    &__email-link {
        color: v.$blanco;
        font-size: 1.2rem;
        @include m.telefonoXL {
            font-size: 1.6rem;
        }
    }
    &__email-link:hover {
        color: v.$colorHover;
        font-size: 1.2rem;
        @include m.telefonoXL {
            font-size: 1.6rem;
        }
    }
    &__social {
        padding: 1rem;
    }
    &__social-link {
        padding: 0 1rem;
        color: v.$blanco;
    }
    .fa-facebook-f:hover {
        color: v.$colorFacebook;
    }
    .fa-twitter:hover {
        color: v.$colorTwitter;
    }
    .fa-instagram:hover {
        color: v.$colorInstasgram;
    }
    .fa-youtube:hover {
        color: v.$colorYoutube;
    }
}