/* fuente principal */
$principal: sans-serif;

/* colores */
$colorSecundario: #C7C7C7;
$colorHeader: #a0969688;
$colorEmisora: #2e2b2bde;
$colorFooter: #1d1818;
$colorHover: #f8e912;
$colorListaTop: #3434e4;

$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorInstasgram: #3f729b;
$colorYoutube: #cd201f;

$negro: #000000;
$blanco: #ffffff;

/* 
tamaños para media queries, desde este tamaño en adelante, 
ej: @media (min-width: $tablet)...para hacerlo first mobile
*/
$telefonoM: 320px;
$telefonoXL: 420px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1440px;

/* Espaciados */
$padding_col: 1rem;
$paddingSecciones: 3rem 0;
$marginitems: 40px 0;
