@use 'variables' as v;

.seccion {
    margin-top: calc(v.$separacion / 3);
    margin-bottom: calc(v.$separacion / 3);
}
.contenido-centrado {
    max-width: 800px;
}
.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}
.w-100 {
    width: 100%;
}
